@font-face {
    font-family: "roboto"; 
    src: url("../fonts/Roboto-Light.ttf") ; 

    }
@font-face {
    font-family: "monserat"; 
    src: url("../fonts/Montserrat-Light.ttf") ; 

    }
    @keyframes anim{
        0% {
            top: 0;
        }
        50%{
            top: 100%;
        }
        100%{
            top: 0;
        }
    }
*{
    padding: 0;
    margin: 0;
}

    $color-acent: #FA6E12;
    $color-standard:#09090A;
    $color-main:#fff;
    $font-monserat:'monserat';
    $font-roboto:'roboto';

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5%;
    .links{
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links_item{
            a{
                font-family: $font-monserat;
                outline: none;
                text-decoration: none;
                color: $color-standard;
            }
            a:hover{
                color: $color-acent;
            }
            
        }
    }
    .language{
        height: 100%;
        width: 10%;
        display: flex;
        align-items: center;
        .language_item{
            margin-right: 10px;
            font-family: $font-monserat;
        }
    }
}

.vl3{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .vl3fon{
        width: 100%;
        height: 70%;
        background: url(/image/DSC05845\ 1.png) no-repeat;
        background-size: cover;
        box-shadow: inset 0px 8px 50px 100px rgba(255,255,255,0.95);
        h1{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: flex-end;
            font-family: $font-roboto;
            font-size: 35px;
            font-weight: 900;
        }
    }

    button{
        margin-top: 2vh;
        width: 15%;
        height: 50px;
        background-color: $color-acent;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        font-family: $font-roboto;
        font-weight: 800;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 12px;
            height: 12px;
            margin-left: 10px;
        }
    }
    
    .vl3info{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            margin-top: 50px;
            font-family: $font-monserat;
            font-size: 30px;
            font-weight: 500;
        }
        .info{
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            h3{
                color: $color-acent;
                font-family: $font-monserat;
                font-size: 37px;
            }
            p{
                margin-top: 15px;
                font-family: $font-monserat;
                font-size: 20px;
            }
            .speed{
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .ss{
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .range{
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

.engine{
    width: 100%;
    height: 130vh;
    background-color:$color-acent;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // text-align: center;
    .top{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 5%;
    }

    
    .mid{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: row;
        // justify-content: space-evenly;
        align-items: center;
        text-align: center;
        p{
            font-weight: 500;
        }
        .text1{
            width: 10%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-right: 5%;
            margin-top: 7%;
            p{
                font-family: $font-roboto;
                font-size: 18px;
                font-weight: 900;
            }
        }
        .column{
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .text912{
                border-right: 1px solid black;
                width: 100%;
            }
            .text914{
                width: 100%;
                border-right: 1px solid black;
            }
            .text915{
                width: 100%;
            }
            
            p{
                padding-top: 15%;
                font-family: $font-monserat;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            h1{
                font-family: $font-roboto;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    .bot{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align:center;
        h1{
            font-family: $font-roboto;
            font-size: 35px;
        }
        p{
            font-family: $font-monserat;
            font-size: 14px;
            padding-top: 10px;
        }
    }
}

.parts{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .navbarparts{
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        border-bottom: #09090A solid 1px;
        a{
            text-decoration: none;
            color: #09090A;
            font-family: $font-roboto;
            font-size: 25px;
            position: relative;
        }
        // a:after {
        //     display: block;
        //     position: absolute;
        //     left: 0; 
        //    height: 3px; 
        //     background-color: $color-acent; 
        //     content: "";
        //     transition: width 0.3s ease-out;  width: 0;
            
        // }
        // a:hover:after,
        // a:focus:after {
	    //     width: 150%;
        //     // bottom: -140%; 
        // }
        .nava{
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            position: relative;
        }
        .nava:hover::before{
            content:"";
            position: absolute;
            width: 70%;
            height: 4px;
            background-color: $color-acent;
            bottom: 0;
        }
    }
    .description{
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .descriptiontext{
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            p{
                font-family: $font-monserat;
                font-size: 14px;
            }
            img{
                width: 40%;
                height: 50%;
            }
        }
    }
}

.design{
    width: 100%;
    height: 70vh;
    background: url(/image/fon123.jpg) no-repeat;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 200px;
    .designinfo{
        width: 508px;
        height: 306px;
        background: url(/image/Frame\ 85.png);
    }
}

.inboard{
    width: 100%;
    height: auot;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    flex-wrap: wrap;
    .textinboartop{
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 10%;
    }
    .textinboard{
        width: 30%;
        height: 30%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 100px;

        h1{
            font-family: $font-roboto;
            font-size: 38px;
            display: flex;
            text-align: left;
        }
        p{
            font-family: $font-monserat;
            font-size: 14px;
            padding-top: 20px;
            display: flex;
            text-align: left;
        }
    }
    .midimg{
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
    }
    .bottext{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: url(../image/фон\ кабины\ самолета.png) ;
        background-size: 100% 100%;
        margin-top: 3%;
        .text{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: left;
            align-items: center;
            p{
                font-family: $font-roboto;
                font-size: 23px;
            }
        }
    }
}

.plainbag{
    width: 100%;
    height: 47vh;
    display: flex;
    .plaintext{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
            font-family: $font-roboto;
            font-size: 35px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p{
            font-family: $font-monserat;
            font-size: 17px;
        }
    }
}

.security{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .securityplain{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .allsecuritytext{
        width: 100%;
        height: 85%;
        display: flex;
        h1{
            margin-bottom: 25px;
        }
        h2{
            margin-bottom: 20px;
        }
        .securityleft{
            width: 50%;
            height: 100%;
            border-right: #6D6B6B solid 1px;
            display: flex;
            flex-direction: column;
            .securitytext1{
                width: 85%;
                height: 50%;
                display: flex;
                flex-direction: column;
                text-align: right;
                justify-content: right;
                h1{
                    font-family: $font-roboto;
                    font-size: 35px;
                }
                h2{
                    font-family: $font-roboto;
                    font-size: 25px;
                }
                p{
                    font-family: $font-monserat;
                    font-size: 14px;
                }
            }
            .securityimg1{
                width: 88%;
                height: 50%;
                img{
                    width: 100%;
                }
            }
        }
        .securityright{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .securityimg2{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: flex-end;
                img{
                    width: 85%;
                }
            }
            .securitytext2{
                width: 50%;
                height: 85%;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                margin-left: 15%;
                h2{
                    font-family: $font-roboto;
                    font-size: 25px;
                }
                p{
                    font-family: $font-monserat;
                    font-size: 14px;
                }
            }
        }
    }
}
.interior{
     width: 100%;
     height: 70vh;
     display: flex;
     .text{
         width: 50%;
         height: 100%;
         display: flex;
         flex-direction: column;
        .lists{
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            p{
                margin-top: 15px;
                font-family: $font-monserat;
                font-size: 14px;
            }
            img{
                margin-right: 15px;
            }
            h3{
                font-family: $font-monserat;
                font-size: 17px;
            }
        }
        .bottext{
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            align-items: left;
            padding-left: 123px;
            p{
                font-family: $font-monserat;
                font-size: 14px;
            }
        }
     }
     .imgin{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        img{
            width: 100vh;
            height: 70vh;
        }
     }
 }
.plusminus{
     width: 100%;
     height: 60vh;
    //  display: flex;
    //  flex-direction: row;
    //  justify-content: space-evenly;
    //  text-align: left;
    //  flex-wrap: wrap;
    //  box-sizing: border-box;
    //  padding-top: 5%;
    //  background: url(/);
    //  h1{
    //      font-family: $font-monserat;
    //      font-size: 25px;
    //      font-weight: bold;
    //  }
    //  p{
    //      font-family: $font-monserat;
    //      font-size: 14px;
    //  }
    background: url(/image/Frame\ 121.png);
 }
.footer{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09090A;
    .footeritem{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-monserat;
        .info{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            color: white;
            border-right: grey 1px solid;
        }
        .links{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: grey 1px solid;
            .toplinks{
                width: auto;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: white;

                }
            }
        }
        .social{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            .socialicons{
                width: 50%;
                height: auto;
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                }
            }
            button{
                width: 50%;
                height: 50px;
                border: none;
                outline: none;
                background-color: $color-acent;
                color: white;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font-monserat;
                img{
                    margin-left: 10px;
                }
            }
        }
    }
}